:root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #ddb96b;
  --dark: #2b3240;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --eventine-light: #ddb96b;
  --eventine-dark: #2b3240;
  --eventine-primary: #2b3240;
  --eventine-secondary: #ddb96b;
}

h1 {
  color: var(--light);
}
p {
  color: var(--light);
}

#header {
  padding: 10px;
  border-color: #B12704;
  border-radius: 10px;
  
}
