.jumbotron {
  font-size: 50px;
}
.container {
  text-align: center;
}
.event-container {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: .5rem;
  text-align: center;
  width: 100%;
}

.card {
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.card h4 {
  border: 10px;
  color: black;
}